{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block main %}
    <div class="card border border-dark">
        <div class="card-body p-5 shadow-lg" style="background-color: #819fd4;">
            <h1 class="my-4 display-4">{% translate 'Task manager' %}</h1>
            <p class="lead">{% translate 'Django web application' %}</p>

            <hr>

            {% if user.is_authenticated %}
                <a class="btn btn-outline-dark btn-lg" href="{% url 'users' %}">
            {% else %}
                <a class="btn btn-outline-dark btn-lg" href="{% url 'login' %}">
            {% endif %}

            {% trans 'Get Started' %}
            </a>

        </div>
    </div>
{% endblock %}
