{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light mb-3 border-bottom border-top border-dark" style="background-color: #7832999a;">
    <a class="navbar-brand" href="{% url 'home' %}">{% translate "Task manager" %}</a>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'users' %}">{% translate "Users" %}</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'statuses' %}">{% translate "Statuses" %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'labels' %}">{% translate "Labels" %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'tasks' %}">{% translate "Tasks" %}</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'user_update' user.id %}">{{ user.username }}</a> 
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">{% translate "Exit" %}</a>
          </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}"">{% translate "Entrance" %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="{% url 'user_create' %}">{% translate "Registration" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
</nav>
